@import "../variables";
@import "../utility";

$default-opacity-transition: opacity 0.15s ease-in-out;

div.dim-title {
  font-size: 16px;
  color: $invert-bg-color;
  text-align: left;
  margin-bottom: 10px;
  opacity: 0.4;
  user-select: none;
}

div#chat-view-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;

  div#user-options-panel, div#chat-panel, div#members-panel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  $user-options-panel-width: min(max(25%, 220px), 270px);
  $members-panel-width: min(max(12%, 160px), 175px);
  $chat-panel-width: calc(100% - $user-options-panel-width - $members-panel-width);

  $side-panel-edge-padding: 15px;

  $base-green-circle-opacity: 0.5;

  div#user-options-panel {
    background-color: $main-bg-color;
    width: $user-options-panel-width;
    display: block;

    div#select-rooms-container {
      padding: $side-panel-edge-padding;

      div.dim-title {
        margin-left: 7px;
      }

      button.room-option {
        width: calc(100%);
        margin-bottom: 10px;
        font-size: 16px;

        span {
          font-size: 0.85em;
          opacity: 0.4;
          transition: $default-opacity-transition;
        }

        &.selected span {
          opacity: 0.7;
        }
      }
    }

    $margin-bottom-offset: -3px;

    div#user-info {
      text-align: left;
      position: absolute;
      height: fit-content;
      left: $side-panel-edge-padding;
      bottom: $side-panel-edge-padding + 3px;
      width: calc($user-options-panel-width - ($side-panel-edge-padding * 2));

      span#username {
        font-style: italic;
        font-size: 18px;
      }

      div#username-green-circle {
        @include circle($main-theme-hue-2, 8px);

        display: inline-block;
        margin-right: 7px;
        margin-bottom: $margin-bottom-offset;
        opacity: $base-green-circle-opacity;
        transition: $default-opacity-transition;
      }

      &:hover div#username-green-circle {
        opacity: 1;
      }

      img#return-home {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        rotate: -90deg;
        width: 20px;
        margin-top: $margin-bottom-offset * -1;
        position: absolute;
        right: 5px;
      }

      &:hover img#return-home {
        opacity: 0.35;
      }
    }
  }

  div#chat-panel {
    background-color: $secondary-bg-color;
    width: $chat-panel-width;

    $input-container-bottom-padding: 11px;
    $input-container-height: $input-container-bottom-padding + 55px;

    div#messages-container {
      width: 100%;
      height: 100%;

      img#empty-messages {
        margin-top: calc(50vh - 165px);
        min-width: 150px;
        max-width: 200px;
        opacity: 0.1;
      }

      div#messages-list {
        width: 100%;
        height: calc(100% - $input-container-height);
        overflow-x: hidden;
        overflow-y: scroll;

        scrollbar-color: $secondary-highlight-color-light $secondary-highlight-color;
        scrollbar-width: thin;

        div.message-element {
          $element-spacing: 9px;

          background-color: transparent;
          border-radius: 11px;
          font-size: 17px;
          margin-top: $element-spacing;
          margin-bottom: $element-spacing;
          padding: 12px;
          width: 75%;
          text-align: left;
          transition: background-color 0.15s ease-in-out;

          div.message-sender {
            font-weight: bold;
            user-select: none;
          }

          div.message-body {
            margin-top: 4px;
          }

          &:hover {
            background-color: $secondary-highlight-color;
          }
        }
      }
    }

    div#message-input-container {
      background-color: $secondary-bg-color;
      padding-bottom: 20px;
      position: absolute;
      width: $chat-panel-width;
      bottom: 0;
      z-index: 5;

      $input-edge-margin: 20px;

      input#chat-input {
        border-radius: 11px;
        font-size: 17px;
        padding: $input-container-bottom-padding;
        width: calc(100% - 26px - ($input-edge-margin * 2));
      }

      a#send-button {
        cursor: pointer;
        position: absolute;
        right: $input-edge-margin + 15px;
        bottom: $input-container-bottom-padding + 20px;

        img {
          opacity: 0.6;
          width: 25px;
          transition: $default-opacity-transition;
        }

        &:hover img {
          opacity: 0.4;
        }
      }
    }
  }

  div#members-panel {
    background-color: $main-bg-color;
    display: block;
    width: $members-panel-width;

    div#members-container {
      padding: $side-panel-edge-padding;

      div.member-element {
        cursor: auto;
        font-size: 16px;
        font-style: italic;
        overflow-x: hidden;

        div.member-green-circle {
          @include circle($main-theme-hue-2, 5px);

          display: inline-block;
          opacity: $base-green-circle-opacity;
          transition: $default-opacity-transition;
        }

        &:hover div.member-green-circle {
          opacity: 1;
        }

        &:hover {
          color: $light-text-color;
        }
      }
    }
  }
}

input#chat-input {
  border-radius: 8px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 9px;
  background: $secondary-highlight-color;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-highlight-color-light;
  border-radius: 20px;

  &:hover {
    background-color: lighten($secondary-highlight-color-light, 5%);
  }

  &:active {
    background-color: lighten($secondary-highlight-color-light, 10%);
  }
}
