@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Ubuntu+Mono&display=swap");

:root {
    --main-bg-color: #090909;
    --foreground-bg-color: #0a0a0a;
    --dark-highlight-color: #0d0d0d;
    --main-theme-color: #d00b3b;
    --main-green-color: #0daf73;
    --light-text-color: #adadad;
    --dark-text-color: #090909;
    --invert-bg-color: #e0e0e0;
    --invert-highlight-color: #b2b2b2;
    --base-button-width-start-view: 275px;
}

* {
    color: var(--light-text-color);
    font-family: "Ubuntu Mono", monospace;
    font-size: 17px;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
    overflow: hidden;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div.regular {
    color: var(--dark-text-color);
    font-size: 18px;
}

input.regular {
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 0 rgba(0, 0, 0, 0.65);
    color: var(--light-text-color);
    padding: 6px;
    outline: none;
    transition: all 0.30s ease-in-out;
}

input.regular:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.8);
    transition: all 0.45s ease-in-out;
}

input.regular::placeholder {
    color: #3c3c3c;
    text-align: center;
    transition: all 0.15s ease-in-out;
}

input.regular:hover, input.regular:focus {
    background-color: var(--dark-highlight-color);
    transition: all 0.15s ease-in-out;
}

button.regular {
    color: var(--light-text-color);
    background-color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 0 rgba(0, 0, 0, 0.65);
    font-size: 16px;
    padding: 7px;
    transition: all 0.1s ease-in-out;
}

button.regular:hover:enabled {
    background-color: var(--dark-highlight-color);
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
}

button.regular:active:enabled, button.regular:disabled {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 14px 0 rgba(0, 0, 0, 0.45);
    transition: all 0.1s ease-in-out;
}

.lighter-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 14px 0 rgba(0, 0, 0, 0.35) !important;
    transition: all 0.2s ease-in-out !important;
}

.lighter-shadow:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 14px 0 rgba(0, 0, 0, 0.13) !important;
    transition: all 0.2s ease-in-out !important;
}

button.regular:disabled {
    color: #3c3c3c;
    transition: all 0.25s ease-in-out;
}

button.regular.invert {
     color: var(--dark-text-color);
     background-color: var(--invert-bg-color);
 }

button.regular.invert:hover {
    background-color: var(--invert-highlight-color);
}

button.regular.invert:active {
    background-color: #969696;
}

* {
    scrollbar-color: var(--invert-highlight-color) var(--invert-bg-color);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--invert-highlight-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #969696;
}
