@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Ubuntu+Mono&display=swap");

:root {
    --main-bg-color: #080808;
    --foreground-bg-color: #090909;
    --modal-bg-color: #111111;
    --main-theme-color: #ffdf69;
    --main-text-color: #eeeeee;
}

* {
    color: var(--main-text-color);
    font-family: "Ubuntu Mono", monospace;
    font-size: 17px;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    display: none;
}