@import "variables";
@import "utility";

input.regular {
  @extend %base-main, %base-border;

  background-color: $main-bg-color;
  font-family: $sans-serif-font;

  &:focus {
    @extend %base-highlight;
  }

  &::placeholder {
    color: $invert-highlight-color;
    opacity: 1;
  }
}

button.regular {
  @extend %base-main;

  border: none;
  cursor: pointer;

  &:hover:enabled {
    color: $invert-bg-color;
  }
}

button.outline {
  @extend %base-main, %base-border;

  background: $main-bg-color;
  cursor: pointer;

  &:hover:enabled {
    @extend %base-highlight;
  }
}

%base-bubble {
  @include base-props(7px, 15px, 10px, 0.15s);

  padding-left: 7px;
  background-color: transparent;
  border: none;
  color: $invert-highlight-color;
  cursor: pointer;
  text-align: left;

  &:hover, &.selected {
    background-color: $main-highlight-color;
  }

  &.selected {
    color: $light-text-color;
  }
}

button.bubble {
  @extend %base-bubble;
}

div.bubble {
  @extend %base-bubble;

  padding-right: 0;
  margin-left: -4px;
  margin-bottom: -4px;
}

div.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}