@import "variables";

@mixin base-props($br, $fs, $p, $time) {
  $method: ease-in-out;

  border-radius: $br;
  color: $invert-highlight-color;
  font-size: $fs;
  font-family: $sans-serif-font;
  padding: $p;
  transition: border-color $time $method,
              color $time $method,
              background-color $time $method,
              background-position $time $method;
}

@mixin gradient-button($c1, $c2) {
  $darken-amount: 12%;
  $direction: to top;

  background: linear-gradient($direction, $c1, $c2);

  &:active:enabled, &:disabled {
    background: linear-gradient($direction, darken($c1, $darken-amount), darken($c2, $darken-amount));
  }
}

@mixin circle($c, $size) {
  background-color: $c;
  border: none;
  border-radius: $size * 100;
  padding: $size;
  width: fit-content;
}

%base-main {
  @include base-props(5px, 15px, 8px, 0.25s);
}

%base-highlight {
  border-color: $invert-bg-color;
  color: $light-text-color;
}

%base-border {
  border: 2px solid $invert-highlight-color;
}