@import "variables";

%base {
  $time: 0.25s;
  $method: ease-in-out;

  border-radius: 5px;
  color: $invert-highlight-color;
  font-size: 15px;
  font-family: $sans-serif-font;
  padding: 8px;
  transition: border-color $time $method,
              color $time $method,
              background-color $time $method,
              background-position $time $method;
}

%base-highlight {
  border-color: $invert-bg-color;
  color: $light-text-color;
}

%base-border {
  border: 2px solid $invert-highlight-color;
}

@mixin gradient-button($c1, $c2) {
  $darken-amount: 12%;
  $direction: to top;

  background: linear-gradient($direction, $c1, $c2);

  &:active:enabled, &:disabled {
    background: linear-gradient($direction, darken($c1, $darken-amount), darken($c2, $darken-amount));
  }
}