$main-bg-color: #000000;
$main-red-hue: #d00b3b;
$main-green-hue: #0daf73;

$invert-bg-color: #f3f3f3;
$invert-highlight-color: #9f9f9f;

$light-text-color: #f5f5f5;
$dark-text-color: #090909;

$sans-serif-font: "Ubuntu", sans-serif;
$monospace-font: "Ubuntu Mono", monospace;