$main-bg-color: #000000;
$main-highlight-color: #131313;

$secondary-bg-color: #18161e;
$secondary-highlight-color: #211f2a;
$secondary-highlight-color-light: #312f3d;

$main-theme-hue-1: #5e598a;
$main-theme-hue-2: #0daf73;

$main-gradient-hue-start: #2a273f;//#5e00ff;
$main-gradient-hue-end: #645c96;//#7b00ff;

$invert-bg-color: #f3f3f3;
$invert-highlight-color: #9f9f9f;

$light-text-color: #f5f5f5;
$dark-text-color: #090909;

$sans-serif-font: "Ubuntu", sans-serif;
$monospace-font: "Ubuntu Mono", monospace;